---
interface RadioItemProps {
  file: string;
  type: string;
  current: string;
  href: string;
  class?: string;
}
const {header, name, values, class: className} = Astro.props;
---
<fieldset class="">
    <label class="block mb-1 text-xs font-bold text-gray-700 sm:mb-2 sm:text-sm">{header}</label>
    <div class="flex gap-3 justify-stretch">
    {
        values.map((value: any) =>
        (
            <label class="flex-1">
                {value.checked?
                    <input type="radio" name={name} value={value.value} class="absolute opacity-0 peer" checked>
                    :
                    <input type="radio" name={name} value={value.value} class="absolute opacity-0 peer">
                }
                <span class="block w-full px-3 py-0.5 sm:py-1 text-lg text-center bg-gray-200 rounded-lg cursor-pointer border_ sm:px-4 bg-neutral-50 border-neutral-300_ peer-hover:bg-secondary/75 peer-hover:shadow-active peer-checked:bg-secondary/50 peer-checked:animate-flyIn">{value.buttonText}</span>
            </label>
            )
        )
    }
    </div>
</fieldset>
<script>
    document.addEventListener('astro:page-load', () => {
        const radioGroup = document.querySelectorAll("input[type=radio]");
        radioGroup.forEach(input => {
			input.addEventListener('change', (e:any)=>{
                const radio_name = e.target.name as string;
                const radio_value = e.target.value as string;
                const event = new CustomEvent('calculatorFormEvent', {
                    detail: {
                     values:{name:radio_name,value:radio_value} // Элемент, который вы хотите передать
                    },
                    bubbles:true
                });
                document.dispatchEvent(event);
            })
			})
    });
</script>