---

import Layout from '../layouts/main.astro'
import Hero from '../components/Hero.astro';
import NavBar from '../components/NavBar.astro';
import BreadCrumbs from '../components/BreadCrumbs.astro';
import { Image } from "astro:assets"
import heater from "../img/step.webp"
import factoid_images_models from "../img/models.webp"
import factoid_images_toppanel from "../img/top_panel.webp"
import Factoid from '../components/Factoid.astro';
import { Icon } from 'astro-icon/components';
import Button from '../components/Button.astro';
import ModelCard from '../components/_ModelCard.astro';
import Calculator from '../components/Calculator.astro';
import Socials from '../components/Socials.astro';
import LogoSmall from '../svg/logo_small.svg';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import ImageDynamic from '../components/ImageDynamic.astro';

const URL_main = `${import.meta.env.BASE_URL}/`
const URL_category = `${URL_main}Каталог/Напольные конвекторы/`
const URL_model = `${URL_category}Step/`

const mainImageDescription = "Стальной панельный радиатор Heaton в разрезе"
const features = [
  {
    "name": "Максимальное рабочее давление",
    "value": "10 Бар"
  },
  {
    "name": "Испытательное давление",
    "value": "15 Бар"
  },
  {
    "name": "Максимальная температура воды",
    "value": "120°С"
  },
  {
    "name": "Теплообменник",
    "value": "медно-алюминиевый (бесшовная труба диаметром 14мм, толщина стенки 0,5 мм)"
  },
  {
    "name": "Корпус",
    "value": "оцинкованная сталь 1мм"
  },
  {
    "name": "Анодирование",
    "value": "Натуральный алюминий, чёрный, золото, светлая бронза, темная бронза и любой цвет по RAL"
  },
  {
    "name": "Доступная глубина (высота)",
    "value": "80, 130, 180"
  },
  {
    "name": "Доступная ширина",
    "value": "130, 180"
  },
  {
    "name": "Доступная длина",
    "value": "500—3000 (шаг 100 мм)"
  },
  {
    "name": "Гарантия",
    "value": "10 лет"
  }
]

---
<Layout title="Напольные конвекторы Heaton" description="Качественные панельные радиаторы от российского бренда" class="snap-y snap-mandatory">
    
    <Hero class="min-h-svh snap-center">
        <NavBar slot="navbar" class="mx-auto container-center py-4 md:py-8"/>
        <BreadCrumbs slot="breadcrumbs" list={
            [{url:URL_main, text:"Главная"},{url:URL_category, text:"Напольные конвекторы"}]
            }/>

        <Image alt={mainImageDescription} src={heater} slot="image"/>

        <!-- <Fragment slot="header">
            <Socials class="mb-6 md:mb-12 text-primary"/>
            <h1 class="text-3xl md:text-6xl font-black uppercase leading-tight tracking-wide">Напольные конвекторы</h1>
            <div class="mt-4 md:mt-12 flex items-stretch gap-4 tracking-wider uppercase">
                <a class="px-4 py-1 text-xl rounded-lg text-neutral-50 bg-primary pt-8">Каталог</a>
                <div class="flex text-base font-medium  gap-4 items-end text-neutral-700">
                    <a href="#Calculator" class="px-4 py-1 rounded-lg  bg-neutral-100">Калькулятор</a>
                </div>
            </div>
        </Fragment> -->
        <Fragment slot="header">
            <Socials class="mb-4 md:mb-12 text-primary" data-response/>
            <h1 class="text-3xl md:text-6xl font-black uppercase leading-tight tracking-wide">
				<span>Напольные конвекторы</span>
				<span class="text-primary">Step</span>
			</h1>
            <div class="mt-4 md:mt-12 flex items-stretch gap-4 tracking-wider uppercase">
                <a class="px-4 grow py-1 md:text-xl rounded-lg text-neutral-50 bg-primary pt-8" href={URL_model}>Каталог</a>
                <div class="flex text-sm md:text-base font-medium flex-col md:flex-row gap-2  md:gap-4 md:items-end text-neutral-700">
                    <!-- <a href="#Models" class="px-4 py-1  rounded-lg  bg-neutral-50">Модели</a> -->
                    <a href="#Calculator" class="px-4 py-1 rounded-lg  bg-neutral-50">Калькулятор</a>
                </div>
            </div>
        </Fragment>
        <!-- <Socials class="mb-4 md:mb-12 text-primary"/> -->


        <!-- <Fragment slot="extralinks">
            <ul class="flex gap-8">
                <li><a href="/#models" class="px-16 py-8 border border-primary rounded-2xl block">Модели</a></li>
                <li><a href="/#calculator" class="px-16 py-8 border border-primary rounded-2xl block">Калькулятор</a></li>
            </ul>
        </Fragment> -->

    </Hero>

    <section class="snap-start container-center py-16 mx-auto ">
		<ul class="grid grid-cols-12 gap-8 lg:gap-16 py-16 tracking-wider leading-relaxed text-lg">
			<li class="col-span-full lg:col-span-8 rounded-xl p-8 flex flex-col ">
				<h2 class="font-black uppercase pb-4 text-4xl text-primary">Напольные конвекторы Heaton —</h2>
				<p class="mt-auto">
					это современное и стильное решение для обогрева помещений с панорамными окнами или нестандартной планировкой. Благодаря компактному дизайну и высокой эффективности, они идеально вписываются в интерьер, обеспечивая комфортный микроклимат без ущерба для эстетики
				</p>
				<div class="my-8">
					<h3 class="font-black uppercase pb-4 text-2xl text-primary">Характеристики</h3>
					<ul>
						{features.map((characterisic)=>(
							<li class="my-2 md:my-0">
								<span class="text-xs md:text-base md:font-bold block md:inline">
									{characterisic.name}:
								</span>
								<span class="text-base font-bold md:font-normal block md:inline">
									{characterisic.value}
								</span>
							</li>
						  )
						  )}

					</ul>
				</div>
			</li>
      <li class="col-span-full lg:col-span-4 bg-transparent md:bg-neutral-50/40 rounded-xl p-8 flex flex-col text-neutral-700 ">
				<h3 class="font-black uppercase pb-4 text-2xl text-primary">Назначение</h3>
				<p class="mt-auto text-base md:text-xl md:leading-relaxed">
					Конвекторы напольные Heaton Step предназначены для эксплуатации в
жилых, общественных и административных помещениях. Используются в однотрубных или двухтрубных закрытых насосных системах отопления

				</p>
			</li>
			<li class="col-span-full lg:col-span-6 bg-neutral-50/40 rounded-xl p-8 flex flex-col">
				<h3 class="font-black uppercase pb-4 text-2xl text-primary">Широкий выбор размеров</h3>
				<p class="mt-auto">
					Конвекторы доступны в различных длинах (от 500 до 3000 мм с шагом 100 мм), что позволяет подобрать модель для помещений любого размера
				</p>
			</li>
			<li class="col-span-full lg:col-span-6 bg-neutral-50/40 rounded-xl p-8">
				<h3 class="font-black uppercase pb-4 text-2xl text-primary">Высокая теплоотдача</h3>
				<p class="mt-auto">
					Медно-алюминиевый теплообменник обеспечивает эффективную передачу тепла, а конструкция конвектора позволяет быстро прогревать помещение
				</p>
				
			</li>
		</ul>
        <ul class="grid grid-cols-12 gap-4 my-16 tracking-wider leading-relaxed text-lg bg-neutral-50/40 rounded-2xl p-8">
			{
				[
					{
						"icon": "Like",
						"header": "Высочайшее качество",
						"explain": "Полностью скрытое подключение"
					},
					{
						"icon": "Map Point",
						"header": "Быстрые сроки поставки",
						"explain": "Сделано в России"
					},
					{
						"icon": "Danger Circle",
						"header": "Широкий типоразмерный ряд",
						"explain": "Рабочее давление: 10 бар"
					},
					{
						"icon": "Shield Check",
						"header": "Гарантия 10 лет",
						"explain": "Гарантия на продукцию: 10 лет"
					},
					{
						"icon": "Document",
						"header": "Сертифицированная продукция",
						"explain": "ГОСТ 31311"
					},
					{
						"icon": "Eye",
						"header": "Сертифицированная продукция",
						"explain": "Стильный дизайн"
					}
					]
						.map((feature)=>(
							<li class="my-2 md:my-0 col-span-full sm:col-span-6 md:col-span-4 sm:p-4   _bg-neutral-50/40 _rounded-xl">
								<div class="text-base  leading-none pb-2 sm:pb-4 text-balance flex items-center">
									<Icon name={feature.icon} class=" size-10 sm:size-12 mr-3 shrink-0 text-primary"/>
									<div class=" leading-relaxed">
										{feature.explain}
									</div>
								</div>
								{/* <div class="text-xs md:text-sm font-normal ml-8 text-balance">
									{feature.explain}
								</div> */}
							</li>
						  )
						)
			}
		</ul>
    <ul class="grid grid-cols-12 gap-8 py-8 tracking-wider leading-relaxed text-lg">
			<li class="my-2 md:my-0 col-span-full md:col-span-6 p-8 bg-neutral-50/5 rounded-xl flex gap-8 items-center flex-col lg:flex-row">
				<div class=" aspect-[3/2] w-full lg:w-[600px] overflow-clip rounded-3xl bg-neutral-300">
					<ImageDynamic imagePath="step_setup.webp" altText='Технология усечённого канала' class="w-auto h-auto"/>
				</div>
				<div class="">
					<div class="text-base md:text-lg font-black  text-primary uppercase  pb-4 text-balance">
						<div class="">
							Скрытый монтаж
						</div>
					</div>
					<div class="text-base font-normal text-balance !leading-relaxed">
						Конвектор полностью прикрывает подключение к сетям теплоснабжения
					</div>
				</div>
			</li>
			<li class="my-2 md:my-0 col-span-full md:col-span-6 p-8 bg-neutral-50/5 rounded-xl flex gap-8 items-center flex-col lg:flex-row">
				<div class=" aspect-[3/2] w-full lg:w-[600px] overflow-clip rounded-3xl bg-neutral-300">
					<ImageDynamic imagePath="step_cleaning.webp" altText='Верхняя решетка крыловидной формы' class="w-auto h-auto"/>
				</div>
				<div class="">
					<div class="text-base md:text-lg font-black  text-primary uppercase  pb-4 text-balance">
						<div class="">
							Удобное обслуживание и уборка
						</div>
					</div>
					<div class="text-base font-normal text-balance !leading-relaxed">
						Съемная решетка позволяет с легкостью осуществить уборку
					</div>
				</div>
			</li>
		</ul>
		<!-- <ul class="flex flex-wrap gap-8 lg:gap-16  flex-grow justify-between">			
			<li class="grow basis-full p-2 text-lg rounded-3xl relative flex items-center gap-16 bg-neutral-50">
				<div class="basis-1/2 drop-shadow-primary-hard order-1 md:order-2 relative scale-105">
					<Image alt={mainImageDescription} src={heater} slot="image"/>
				</div>
				<div class="basis-1/2 order-2 md:order-1">
					<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4 text-primary">Разнообразие цветов и отделок</h3>
					<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Покупатели могут выбрать цвет корпуса (белый, черный, серебристый, RAL) и тип решетки (линейная, перфорированная), чтобы конвектор гармонировал с интерьером <b class="font-black"> <br>TODO:Компонент с выборо цветов</b></p>
				</div>

			</li>
		</ul> -->
	</section>
  <div class="container-center snap-center">
    <Contact/>
</div>
        <!-- decoding -->
        <section class="snap-center min-h-svh flex flex-col container-center mx-auto ">
            <h2 class="text-3xl font-semibold md:text-6xl mb-16 mt-16 md:mt-32 text-center">Расшифровка обозначения</h2>
            <div class="my-auto mx-auto relative">
                <ul class="flex gap-1 sm:gap-4 md:gap-0 font-black 2xl:gap-8 py-24">
                    {
                        [
                            {value:"STEP",expand:"Модель"},
                            {value:"130",expand:"Высота"},
                            {value:"130",expand:"Ширина"},
                            {value:"1500",expand:"Длина"},
                            {value:"1",expand:"Количество рядов труб"},
                            {value:"N",expand:"Наличие вент. вставки"},
                            {value:"WT",expand:"Цвет корпуса"},
                            {value:"LG",expand:"Тип решетки"},
                            {value:"NA",expand:"Цвет решетки"},
                        ].map((element)=>(
                            <li class="relative hover:bg-neutral-50 p-1 md:p-4 rounded-xl group"> 
                                <span class="text-lg sm:text-xl md:text-3xl lg:text-5xl 2xl:text-6xl">{element.value}</span>
                                
                                <span class="absolute block text-xs leading-none md:text-sm lg:text-base xl:text-xl font-medium left-1/2 -translate-x-1/2 transition-transform
                                group-even:-bottom-24 
                                group-odd:-top-24 
                                group-even:before:bottom-10
                                group-odd:before:top-10
                                before:content-[''] before:border-l before:h-12 before:block before:absolute before:border-neutral-400 before:left-1/2">{element.expand}</span>
                            </li>
                        ))


                    }
                    
                </ul>
                <div class="absolute inset-0  top-0 left-0 blur-4xl -z-10">
                    <div class="inset-0 -translate-x-4 translate-y-4 bg-primary absolute rounded-full"></div>
                    <div class="inset-0 translate-x-16 -translate-y-8 bg-neutral-50 absolute rounded-full"></div>
                </div>
                <LogoSmall class="absolute  left-1/2 -translate-x-1/2 w-[800px] text-neutral-50/20 top-0 -z-10 "/>
            </div>
        </section>
        <!-- calculator -->

        <!-- <Calculator class="snap-center"/> -->
		<Footer class="mt-auto snap-center bg-neutral-300"/>
</Layout>
