---

import Layout from '../layouts/main.astro'
import Hero from '../components/Hero.astro';
import NavBar from '../components/NavBar.astro';
import BreadCrumbs from '../components/BreadCrumbs.astro';
import LogoSmall from '../svg/logo_small.svg';
import { Image } from "astro:assets"
import heater from "../img/main_heaters_.webp"
import factoid_images_models from "../img/models.webp"
import factoid_images_toppanel from "../img/top_panel.webp"
import Factoid from '../components/Factoid.astro';
import { Icon } from 'astro-icon/components';
import Button from '../components/Button.astro';
import ModelCard from '../components/_ModelCard.astro';
import Calculator from '../components/Calculator.astro';
import Socials from '../components/Socials.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import Feature from '../components/Feature.astro';

interface Button{
    text: string,
    icon: string,
    url:string
}

const URL_main = `${import.meta.env.BASE_URL}/`
const URL_category = `${URL_main}Каталог/Стальные панельные радиаторы/`
const URL_model = `${URL_category}Compact/`


const mainImageDescription = "Стальной панельный радиатор Heaton в разрезе"
---
<Layout title="Стальные панельные радиаторы Heaton" description="Качественные панельные радиаторы от российского бренда" class="snap-y snap-mandatory">
    
    <Hero class="min-h-svh snap-center">
        <NavBar slot="navbar" class="mx-auto container-center py-8"/>
        <BreadCrumbs slot="breadcrumbs" list={
            [{url:URL_main, text:"Главная"},{url:URL_category, text:"Стальные панельные радиаторы"}]
            }/>

        <Image alt={mainImageDescription} src={heater} slot="image"/>

        <Fragment slot="header">
            <Socials class="mb-6 md:mb-12 text-primary"/>
            <h1 class="text-3xl md:text-6xl font-black uppercase leading-tight tracking-wide">Стальные панельные радиаторы</h1>
            <div class="mt-12 flex items-stretch gap-4 tracking-wider uppercase">
                <a class="px-4 py-1 text-xl rounded-lg text-neutral-50 bg-primary pt-8" href={URL_model}>Каталог</a>
                <div class="flex text-base font-medium  gap-4 items-end text-neutral-700">
                    <a href="#Models" class="px-4 py-1  rounded-lg  bg-neutral-50">Модели</a>
                    <a href="#Calculator" class="px-4 py-1 rounded-lg  bg-neutral-50">Калькулятор</a>
                </div>
            </div>
        </Fragment>

    </Hero>
	<section class="snap-start container-center py-16 mx-auto ">
		<ul class="flex flex-wrap gap-8 lg:gap-16  flex-grow justify-between">
			{
				[

					{
						header:"Большой типоразмерный ряд", 
						text:"Широкий ассортимент стандартных моделей, что позволяет подобрать оптимальное решение для любого объекта. 90% от заявки в наличии на складе", 
						icon:"BI__delivery",
						image:'heaters.webp',
						buttons:[

						]
					},
					{
						header:"Безопасность продукции, \nподтвержденная сертификатами", 
						text:"Радиаторы Heaton прошли обязательную сертификацию, что гарантирует их соответствие стандартам ГОСТ, безопасность для потребителей и исключает риски использования контрафактной продукции", 
						icon:"BI__certificate",
						buttons:[
							{url:`${import.meta.env.BASE_URL}/pasports/sertificate.pdf`, icon:"Sertificate", text:"Сертификат соответствия"} as Button,
							{url:`${import.meta.env.BASE_URL}/pasports/sertificate.pdf`, icon:"Sertificate", text:"Гигиенический сертификат"} as Button,
						]
					},
					{
						header:"Высокое качество\n за лучшую цену", 
						text:"Продукция Heaton сочетает в себе надежность и доступную стоимость", 
						icon:"BI__complect",
						buttons:[
							{url:URL_model, icon:"Sertificate", text:"Перейти в каталог"} as Button
						]
					},
					{
						header:"10 лет\n гарантии", 
						text:"Долговечность и надежность радиаторов подтверждены длительной гарантией", 
						icon:"BI__factory",
						buttons:[
	
						]
					},


					
				].map((element)=>(
					<li class="flex grow shrink basis-1/3 p-4 text-lg rounded-3xl relative bg-neutral-50 overflow-clip">
						<Feature header={element.header} text={element.text} buttons={element.buttons} icon={element.icon} image={element.image}/>
					</li>
				))
			}
			<!-- <li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16  bg-neutral-50">
				<Icon name="BI__complect" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Высокое качество за лучшую цену</h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Продукция Heaton сочетает в себе надежность и доступную стоимость</p>
				<ul class="flex flex-col gap-4 py-2">
					<li>
						<Button text="Перейти в каталог" icon="Sertificate" type="download" size=20 link={URL_model}/>
					</li>
				</ul>
			</li>

			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16   bg-neutral-50">
				<Icon name="BI__certificate" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Безопасность продукции, подтвержденная сертификатами</h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Радиаторы Heaton прошли обязательную сертификацию, что гарантирует их соответствие стандартам ГОСТ, безопасность для потребителей и исключает риски использования контрафактной продукции</p>
				<ul class="flex flex-col gap-4 py-2">
					<li>
						<Button text="Сертификат соответствия" icon="Sertificate" type="download" size=20 link={`${import.meta.env.BASE_URL}/pasports/sertificate.pdf`}/>
					</li>
					<li>
						<Button text="Гигиенический сертификат" icon="Sertificate" type="download" size=20 link={`${import.meta.env.BASE_URL}/pasports/sertificate.pdf`}/>
					</li>
				</ul>
			</li>

			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16   bg-neutral-50">
				<Icon name="BI__factory" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">10 лет гарантии</h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Долговечность и надежность радиаторов подтверждены длительной гарантией</p>
			</li> -->
	<!-- 
			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16">
				<Icon name="BI__delivery" class="absolute size-64 text-primary opacity-10 -left-24 -z-10 -top-24"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Большой типоразмерный ряд </h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Широкий ассортимент стандартных моделей, что позволяет подобрать оптимальное решение для любого объекта. 90% от заявки в наличии на складе</p>
			</li> -->

			<!-- <li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16   bg-neutral-50">
				<Icon name="BI__delivery" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Большой типоразмерный ряд </h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Широкий ассортимент стандартных моделей, что позволяет подобрать оптимальное решение для любого объекта. 90% от заявки в наличии на складе</p>
			</li> -->
			
			<li class="grow basis-full p-2 text-lg rounded-3xl relative flex items-center gap-16 flex-col md:flex-row bg-neutral-50">
				<div class="basis-1/2 drop-shadow-primary-hard order-1 origin-right scale-125">
					<Image alt={mainImageDescription} src={heater} slot="image"/>
				</div>
				<div class="basis-1/2 order-2">
					<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Верхняя решетка крыловидной формы</h3>
					<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Форма верхней решетки имеет форму крыла, при такой форме ускоряется поток теплого воздуха через прибор, улучшая теплоотдачу</p>
				</div>
			</li>
			<li class="grow basis-full p-2 text-lg rounded-3xl relative flex items-center gap-16 bg-neutral-50">
				<div class="basis-1/2 drop-shadow-primary-hard order-1 md:order-2 relative">
					<Image alt={mainImageDescription} src={heater} slot="image"/>
				</div>
				<div class="basis-1/2 order-2 md:order-1">
					<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Технология усечённого канала</h3>
					<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Частичное уменьшение сечения первых двух каналов панели радиатора, что способствует равномерному распределению потока теплоносителя по всей длине прибора</p>
				</div>

			</li>
		</ul>
		<!-- <ul class="flex  flex-wrap gap-16  flex-grow justify-between mx-16">
			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16 ml-16 lg:ml-auto bg-neutral-50">
				<Icon name="BI__complect" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Высокое качество за лучшую цену</h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Продукция Heaton сочетает в себе надежность и доступную стоимость</p>
				<ul class="flex flex-col gap-4 py-2">
					<li>
						<Button text="Перейти в каталог" icon="Sertificate" type="download" size=20 link={URL_model}/>
					</li>
				</ul>
			</li>

			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16  ml-16 lg:ml-auto">
				<Icon name="BI__certificate" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Безопасность продукции, подтвержденная сертификатами</h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Радиаторы Heaton прошли обязательную сертификацию, что гарантирует их соответствие стандартам ГОСТ, безопасность для потребителей и исключает риски использования контрафактной продукции</p>
				<ul class="flex flex-col gap-4 py-2">
					<li>
						<Button text="Сертификат соответствия" icon="Sertificate" type="download" size=20 link={`${import.meta.env.BASE_URL}/pasports/sertificate.pdf`}/>
					</li>
					<li>
						<Button text="Гигиенический сертификат" icon="Sertificate" type="download" size=20 link={`${import.meta.env.BASE_URL}/pasports/sertificate.pdf`}/>
					</li>
				</ul>
			</li>

			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16  ml-16 lg:ml-auto">
				<Icon name="BI__factory" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">10 лет гарантии</h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Долговечность и надежность радиаторов подтверждены длительной гарантией</p>
			</li>
			<li class="grow basis-1 p-2 text-lg rounded-3xl relative xl:even:mt-16 xl:odd:-mt-16  ml-16 lg:ml-auto">
				<Icon name="BI__delivery" class="absolute size-24 lg:size-32 text-primary opacity-100 -left-28 -z-10 -top-6"/>
				<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Большой типоразмерный ряд </h3>
				<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Широкий ассортимент стандартных моделей, что позволяет подобрать оптимальное решение для любого объекта. 90% от заявки в наличии на складе</p>
			</li>
			
			<li class="grow basis-full p-2 text-lg rounded-3xl relative flex items-center gap-16 flex-col md:flex-row bg-neutral-50">
				<div class="basis-1/2 drop-shadow-primary-hard order-1 origin-right scale-125">
					<Image alt={mainImageDescription} src={heater} slot="image"/>
				</div>
				<div class="basis-1/2 order-2">
					<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Верхняя решетка крыловидной формы</h3>
					<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Форма верхней решетки имеет форму крыла, при такой форме ускоряется поток теплого воздуха через прибор, улучшая теплоотдачу</p>
				</div>
			</li>
			<li class="grow basis-full p-2 text-lg rounded-3xl relative flex items-center gap-16 bg-neutral-50">
				<div class="basis-1/2 drop-shadow-primary-hard order-1 md:order-2 relative">
					<Image alt={mainImageDescription} src={heater} slot="image"/>
				</div>
				<div class="basis-1/2 order-2 md:order-1">
					<h3 class="pb-8 min-w-96 text-3xl uppercase tracking-wider font-black text-balance pl-4">Технология усечённого канала</h3>
					<p class="text-balance mb-4 tracking-widest leading-relaxed pl-4">Частичное уменьшение сечения первых двух каналов панели радиатора, что способствует равномерному распределению потока теплоносителя по всей длине прибора</p>
				</div>

			</li>
		</ul> -->
	</section>
	<section class="snap-center container-center mx-auto">
		<Contact/>
	</section>
	
	<!-- models -->
	<section class="bg-secondary_/30 min-h-svh snap-center  relative" id="models">
		
		<div class="flex flex-col items-center gap-16 py-16 md:py-32 max-w-screen-2xl mx-auto text-neutral-600 z-10">
			<h2 class="text-3xl font-semibold md:text-6xl">Модели радиаторов</h2>
			<div class="grid grid-cols-1 gap-8 px-4 sm:grid-cols-2 xl:gap-16 lg:grid-cols-4 sm:px-0">
				{
					[
						{
							shortName: "C",
							longName: "Compact",
							sub:null,
							url:`${URL_category}Compact/`,
							characteristics: [
								{ name: "Панели", icon: true },
								{ name: "Рассеиватели", icon: true },
								{ name: "Решетка сверху", icon: true },
								{ name: "Боковое подключение", icon: true }
							]
						},
						{
							shortName: "VC",
							longName: "Ventil Compact",
							sub:null,
							url:`${URL_category}Ventil Compact/`,
							characteristics: [
								{ name: "Панели", icon: true },
								{ name: "Рассеиватели", icon: true },
								{ name: "Решетка сверху", icon: true },
								{ name: "Нижнее подключение", icon: true }
							]
						},
						{
							shortName: "HC",
							longName: "Compact",
							sub:"Hygiene",
							url:`${URL_category}Hygiene Compact/`,
							characteristics: [
								{ name: "Панели", icon: true },
								{ name: "Рассеиватели", icon: false },
								{ name: "Решетка сверху", icon: false },
								{ name: "Боковое подключение", icon: true }
							]
						},
						{
							shortName: "HVC",
							longName: "Ventil Compact",
							sub:"Hygiene",
							url:`${URL_category}Hygiene Ventil Compact/`,
							characteristics: [
								{ name: "Панели", icon: true },
								{ name: "Рассеиватели", icon: false },
								{ name: "Решетка сверху", icon: false },
								{ name: "Нижнее подключение", icon: true }
							]
						}
					].map((element)=>(
						<ModelCard name={element.longName} shortname={element.shortName} characteristics={element.characteristics} subname={element.sub} url={element.url}/>
					))
				}
			</div>

		</div>
		<div class="absolute inset-96  top-0 left-0 blur-4xl -z-10">
			<div class="inset-0 -translate-x-4 translate-y-4 bg-primary absolute rounded-full"></div>
			<div class="inset-0 translate-x-16 -translate-y-8 bg-neutral-50 absolute rounded-full"></div>
		</div>
	</section>

	<!-- decoding -->
    <section class="snap-center min-h-svh flex flex-col container-center mx-auto ">
		<h2 class="text-3xl font-semibold md:text-6xl  mx-auto mt-16 md:mt-32 header-circle-lg md:header-circle-xl ">Расшифровка обозначения</h2>
		<div class="my-auto mx-auto relative">
			<ul class="flex text-2xl gap-2 md:text-6xl font-black md:gap-8 p-16 py-24">
				{
					[
						{value:"C",expand:"Модель",orientation:"data-bottom"},
						{value:"22",expand:"Тип",orientation:"data-top"},
						{value:"500",expand:"Высота",orientation:"data-bottom"},
						{value:"1000",expand:"Длина",orientation:"data-top"}].map((element)=>(
						<li class="relative hover:bg-neutral-50 p-2 md:p-4 rounded-xl group" data-top> 
                                {element.value}
                                <span class="absolute block text-lg md:text-2xl font-medium left-1/2 -translate-x-1/2 transition-transform
                                group-even:-bottom-24 
                                group-odd:-top-24 
                                group-even:before:bottom-10
                                group-odd:before:top-10
                                before:content-[''] before:border-l before:h-12 before:block before:absolute before:border-neutral-400 before:left-1/2">{element.expand}</span>
                            </li>
					))


				}
				
			</ul>
			<div class="absolute inset-0  top-0 left-0 blur-4xl -z-10">
                <div class="inset-0 -translate-x-4 translate-y-4 bg-primary absolute rounded-full"></div>
                <div class="inset-0 translate-x-16 -translate-y-8 bg-neutral-50 absolute rounded-full"></div>
            </div>
			<LogoSmall class="absolute  left-1/2 -translate-x-1/2 w-[800px] text-neutral-50/20 top-0 -z-10 "/>
		</div>
	</section>

	<!-- <Contact/> -->
	<!-- calculator -->
	<Calculator class="snap-center"/>
	<Footer class="mt-auto snap-center bg-neutral-300"/>
</Layout>
