---

import Layout from '../layouts/main.astro'
import Hero from '../components/Hero.astro';
import NavBar from '../components/NavBar.astro';
import BreadCrumbs from '../components/BreadCrumbs.astro';
import LogoSmall from '../svg/logo_small.svg';
import { Image } from "astro:assets"
import heater from "../img/main_heaters_.webp"
import factoid_images_models from "../img/models.webp"
import factoid_images_toppanel from "../img/top_panel.webp"
import Factoid from '../components/Factoid.astro';
import { Icon } from 'astro-icon/components';
import Logo from '../svg/logo_big.svg';
import Button from '../components/Button.astro';
import ModelCard from '../components/_ModelCard.astro';
import Calculator from '../components/Calculator.astro';
import Socials from '../components/Socials.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import Feature from '../components/Feature.astro';
import ImageDynamic from '../components/ImageDynamic.astro';

interface Button{
    text: string,
    icon: string,
    url:string
}

const URL_main = `${import.meta.env.BASE_URL}/`
const URL_category = `${URL_main}Каталог/Стальные панельные радиаторы/`
const URL_model = `${URL_category}Compact/`
const URL_calculator = `${import.meta.env.BASE_URL}/Калькулятор теплоотдачи/Стальные панельные радиаторы/Compact`;


const mainImageDescription = "Стальной панельный радиатор Heaton в разрезе"
---
<Layout title="Стальные панельные радиаторы Heaton" description="Качественные панельные радиаторы от российского бренда Heaton" class="snap-y snap-mandatory">
    
    <Hero class="min-h-svh snap-center">
        <NavBar slot="navbar" class="mx-auto container-center py-4 md:py-8"/>
        <BreadCrumbs slot="breadcrumbs" list={
            [{url:URL_main, text:"Главная"},{url:URL_category, text:"Стальные панельные радиаторы"}]
            }/>

        <Image alt={mainImageDescription} src={heater} slot="image"/>

        <Fragment slot="header">
            <Socials class="mb-4 md:mb-12 text-primary" data-response/>
            <h1 class="text-3xl md:text-6xl font-black uppercase leading-tight tracking-wide">Стальные панельные радиаторы</h1>
            <div class="mt-4 md:mt-12 flex items-stretch gap-4 tracking-wider uppercase">
                <a class="px-4 grow py-1 md:text-xl rounded-lg text-neutral-50 bg-primary pt-8" href={URL_model}>Каталог</a>
                <div class="flex text-sm md:text-base font-medium flex-col md:flex-row gap-2  md:gap-4 md:items-end text-neutral-700">
                    <a href="#models" class="px-4 py-1  rounded-lg  bg-neutral-50">Модели</a>
                    <a href=`${URL_calculator}` class="px-4 py-1 rounded-lg  bg-neutral-50">Калькулятор</a>
                </div>
            </div>
        </Fragment>

    </Hero>
	<section class="snap-start container-center py-16 mx-auto ">
		<ul class="grid grid-cols-12 gap-8 py-8 tracking-wider leading-relaxed text-lg">
			<li class="col-span-full lg:col-span-8 rounded-xl p-8 pb-0 flex flex-col ">
				<div class="w-3/4 sm:w-1/2 lg:w-1/3 mb-16 text-primary">
					<Logo/>
				</div>
				<p class="mt-auto text-base md:text-xl tracking-wider  md:leading-relaxed my-4 sm:my-8">
					Стальные панельные радиаторы Heaton представляют собой отопительные приборы, состоящие из стальных нагревательных панелей с горизонтальными и вертикальными коллекторами, произведенные в соответствии с ГОСТ 31311
				</p>
				<div class="my-8">
					<h3 class="font-black uppercase pb-4 text-2xl text-primary">Характеристики</h3>
					<ul>
						{[
							{
							  "name": "Максимальное рабочее давление",
							  "value": "10 Бар"
							},
							{
							  "name": "Испытательное давление",
							  "value": "15 Бар"
							},
							{
							  "name": "Материал изготовления",
							  "value": "высококачественная низкоуглеродистая холоднокатаная сталь"
							},
							{
							  "name": "Толщина материала",
							  "value": "не менее 1,2 мм"
							},
							{
							  "name": "Максимальная температура воды",
							  "value": "110°С"
							},
							{
							  "name": "Цвет",
							  "value": "RAL 9016 (белый)"
							},
							{
							  "name": "Производимые типы",
							  "value": "10, 11, 20, 21, 22, 30, 33"
							},
							{
							  "name": "Производимые высоты",
							  "value": "300, 400, 500, 600, 900"
							},
							{
							  "name": "Производимые длины",
							  "value": "400-3000 мм (с шагом 100 мм)"
							}
						  ].map((characterisic)=>(
							<li class="my-2 md:my-0">
								<span class="text-xs md:text-base md:font-bold block md:inline">
									{characterisic.name}:
								</span>
								<span class="text-base font-bold md:font-normal block md:inline">
									{characterisic.value}
								</span>
							</li>
						  )
						  )}

					</ul>
				</div>
			</li>
			<li class="col-span-full lg:col-span-4 bg-transparent md:bg-neutral-50/40 rounded-xl p-8 flex flex-col text-neutral-700 ">
				<h3 class="font-black uppercase pb-4 text-2xl text-primary">Назначение</h3>
				<p class="mt-auto text-base md:text-xl md:leading-relaxed">
					Стальные панельные радиаторы Heaton предназначены для применения в закрытых, независимых системах водяного отопления жилых, административных, промышленных, общественных зданий, медицинских учреждений, а также индивидуальных домов и коттеджей. Радиаторы Heaton имеют низкую тепловую инерцию, что делает возможным как ручную, так и автоматическую регулировку теплоотдачи радиаторов с помощью клапанов.
				</p>
			</li>
			</ul>
			<ul class="grid grid-cols-12 gap-4 my-16 tracking-wider leading-relaxed text-lg bg-neutral-50/40 rounded-2xl p-8">
			{
				[
					{
						"icon": "Check Circle",
						"header": "Производство в Турции",
						"explain": "Производство на заводе с более чем 50-летней историей совершенствования радиаторов отопления."
					},
					{
						"icon": "Like",
						"header": "Высочайшее качество",
						"explain": "Качество подтверждено в аккредитованной лаборатории."
					},
					{
						"icon": "Delivery",
						"header": "Быстрые сроки поставки",
						"explain": "Максимально быстрые сроки поставки в случае отсутствия товара на складах."
					},
					{
						"icon": "Widget 5",
						"header": "Широкий типоразмерный ряд",
						"explain": "Широкий выбор стальных панельных радиаторов в стандартном исполнении."
					},
					{
						"icon": "Star Circle",
						"header": "_",
						"explain": "Кронштейны позволяют осуществить монтаж радиатора в соответствии со СП 73.13330.2016"
					},
					{
						"icon": "Share Circle",
						"header": "Комплектация для монтажа",
						"explain": "В комплектацию входит все необходимое для монтажа радиатора на стену."
					},
					{
						"icon": "Shield Check",
						"header": "Гарантия 10 лет",
						"explain": "Гарантия на продукцию составляет 10 лет."
					},
					{
						"icon": "Document",
						"header": "Сертифицированная продукция",
						"explain": "Продукция сертифицирована и имеет гигиенический сертификат."
					},
					{
						"icon": "Info Circle",
						"header": "Удовлетворение потребностей клиента",
						"explain": "Закрываем любую потребность клиента по теплоотдаче и габаритам прибора."
					}
					]
						.map((feature)=>(
							<li class="my-2 md:my-0 col-span-full sm:col-span-6 md:col-span-4 sm:p-4   _bg-neutral-50/40 _rounded-xl">
								<div class="text-base  leading-none pb-2 sm:pb-4 text-balance flex items-center">
									<Icon name={feature.icon} class=" size-10 sm:size-12 mr-3 shrink-0 text-primary"/>
									<div class=" leading-relaxed">
										{feature.explain}
									</div>
								</div>
								{/* <div class="text-xs md:text-sm font-normal ml-8 text-balance">
									{feature.explain}
								</div> */}
							</li>
						  )
						)
			}
		</ul>
		<ul class="grid grid-cols-12 gap-8 py-8 tracking-wider leading-relaxed text-lg">
			<li class="my-2 md:my-0 col-span-full md:col-span-6 p-8 bg-neutral-50/5 rounded-xl flex gap-8 items-center flex-col lg:flex-row">
				<div class=" aspect-[3/2] w-full lg:w-[600px] h-full overflow-clip rounded-3xl bg-neutral-300">
					<ImageDynamic imagePath="heater-feature_channel.webp" altText='Технология усечённого канала' class="w-auto h-auto"/>
				</div>
				<div class="">
					<div class="text-base md:text-lg font-black  text-primary uppercase  pb-4 text-balance">
						<div class="">
							Технология усечённого канала
						</div>
					</div>
					<div class="text-base font-normal text-balance !leading-relaxed">
						Частичное уменьшение сечения первых двух каналов панели радиатора, что способствует равномерному распределению потока теплоносителя по всей длине прибора
					</div>
				</div>
			</li>
			<li class="my-2 md:my-0 col-span-full md:col-span-6 p-8 bg-neutral-50/5 rounded-xl flex gap-8 items-center flex-col lg:flex-row">
				<div class=" aspect-[3/2] w-full lg:w-[600px] h-full overflow-clip rounded-3xl bg-neutral-300">
					<ImageDynamic imagePath="heater-feature_toppanel.webp" altText='Верхняя решетка крыловидной формы' class="w-auto h-auto"/>
				</div>
				<div class="">
					<div class="text-base md:text-lg font-black  text-primary uppercase  pb-4 text-balance">
						<div class="">
							Верхняя решетка каплевидной формы
						</div>
					</div>
					<div class="text-base font-normal text-balance !leading-relaxed">
						Форма верхней решетки имеет форму капли, при такой форме ускоряется поток теплого воздуха через прибор, улучшая теплоотдачу
					</div>
				</div>
			</li>
			<!-- <li class="my-2 md:my-0 col-span-full md:col-span-6 bg-neutral-50/40 rounded-xl flex gap-8 items-center relative overflow-clip ">
				<div class="absolute inset-0 left-0 bottom-0 z-50">
					<ImageDynamic imagePath="Верхняя-решетка-крыловидной-формы.webp" altText='Верхняя решетка крыловидной формы' class="w-full h-auto"/>
				</div>
				<div class="p-8 lg:ml-32 xl:ml-64">
					<div class="text-base md:text-lg font-black  text-primary uppercase leading-none pb-4 text-balance">
						<div class="">
							Верхняя решетка крыловидной формы
						</div>
					</div>
					<div class="text-sm md:text-base font-normal text-balance">
						Форма верхней решетки имеет форму крыла, при такой форме ускоряется поток теплого воздуха через прибор, улучшая теплоотдачу
					</div>
				</div>
			</li> -->

		</ul>
	</section>
	<section class="snap-center container-center mx-auto">
		<Contact/>
	</section>
	
	<!-- models -->
	<section class="bg-secondary_/30 min-h-svh snap-center  relative" id="models">
		
		<div class="flex flex-col items-center lg:gap-8 xl:gap-16 py-16 md:px-8 xl:px-8 md:py-32 max-w-screen-2xl mx-auto text-neutral-600 z-10">
			<h2 class="text-3xl font-semibold md:text-6xl mb-16">Модели радиаторов</h2>
			<div class="grid grid-cols-1 gap-16 sm:gap-8 px-8 sm:grid-cols-2 lg:gap-16 xl:grid-cols-4 sm:px-0">
				{
					[
						{
							shortName: "C",
							longName: "Compact",
							sub:"Боковое подключение",
							url:`${URL_category}Compact/`,
							characteristics: [
								{ name: "Панель", icon: true },
								{ name: "Конвективная пластина", icon: true },
								{ name: "Боковые декоративные панели", icon: true },
								{ name: "Верхняя декоративная решетка", icon: true },
								{ name: "Боковое подключение", icon: true }
							],
							types:[11,21,22,33],
							image:"C.webp",
							
						},
						{
							shortName: "VC",
							longName: "Ventil Compact",
							sub:"Нижнее подключение",
							url:`${URL_category}Ventil Compact/`,
							characteristics: [
								{ name: "Панель", icon: true },
								{ name: "Конвективная пластина", icon: true },
								{ name: "Боковые декоративные панели", icon: true },
								{ name: "Верхняя декоративная решетка", icon: true },
								{ name: "Нижнее и боковое подключение", icon: true }
							],
							types:[11,21,22,33],
							image:"VC.webp"
						},
						{
							shortName: "HC",
							longName: "Hygiene Compact",
							sub:"Боковое подключение\n(гигиеническое исполнение)",
							url:`${URL_category}Hygiene Compact/`,
							characteristics: [
								{ name: "Панель", icon: true },
								{ name: "Конвективная пластина", icon: false },
								{ name: "Боковые декоративные панели", icon: false },
								{ name: "Верхняя декоративная решетка", icon: false },
								{ name: "Боковое подключение", icon: true }
							],
							types:[10,20,30],
							image:"HC.webp",
						},
						{
							shortName: "HVC",
							longName: "Hygiene Ventil Compact",
							sub:"Боковое подключение\n(гигиеническое исполнение)",
							url:`${URL_category}Hygiene Ventil Compact/`,
							characteristics: [
								{ name: "Панель", icon: true },
								{ name: "Конвективная пластина", icon: false },
								{ name: "Боковые декоративные панели", icon: false },
								{ name: "Верхняя декоративная решетка", icon: false },
								{ name: "Нижнее и боковое подключение", icon: true }
							],
							types:[10,20,30],
							image:"HVC.webp"
						}
					].map((element)=>(
						<ModelCard name={element.longName} shortname={element.shortName} characteristics={element.characteristics} subname={element.sub} url={element.url} types={element.types} image={element.image} class=" max-w-96"/>
					))
				}
			</div>

		</div>
		<div class="absolute inset-96  top-0 left-0 blur-4xl -z-10">
			<div class="inset-0 -translate-x-4 translate-y-4 bg-primary absolute rounded-full"></div>
			<div class="inset-0 translate-x-16 -translate-y-8 bg-neutral-50 absolute rounded-full"></div>
		</div>
	</section>

	<!-- decoding -->
	<section class="snap-center min-h-svh flex flex-col container-center mx-auto ">
		<h2 class="text-3xl font-semibold md:text-6xl mb-16 mt-16 md:mt-32 text-center">Расшифровка обозначения</h2>
		<div class="my-auto mx-auto relative">
			<ul class="flex gap-1 sm:gap-4 md:gap-0 font-black 2xl:gap-8 py-24">
				{
					[
						{value:"C",expand:"Модель",orientation:"data-bottom"},
						{value:"22",expand:"Тип",orientation:"data-top"},
						{value:"500",expand:"Высота",orientation:"data-bottom"},
						{value:"1000",expand:"Длина",orientation:"data-top"}
						].map((element)=>(
                            <li class="relative hover:bg-neutral-50 p-1 md:p-4 rounded-xl group"> 
                                <span class="text-lg sm:text-xl md:text-3xl lg:text-5xl 2xl:text-6xl">{element.value}</span>
                                
                                <span class="absolute block text-xs leading-none md:text-sm lg:text-base xl:text-xl font-medium left-1/2 -translate-x-1/2 transition-transform
                                group-even:-bottom-24 
                                group-odd:-top-24 
                                group-even:before:bottom-10
                                group-odd:before:top-10
                                before:content-[''] before:border-l before:h-12 before:block before:absolute before:border-neutral-400 before:left-1/2">{element.expand}</span>
                            </li>
                        ))


                    }
				
			</ul>
			<div class="absolute inset-0  top-0 left-0 blur-4xl -z-10">
                <div class="inset-0 -translate-x-4 translate-y-4 bg-primary absolute rounded-full"></div>
                <div class="inset-0 translate-x-16 -translate-y-8 bg-neutral-50 absolute rounded-full"></div>
            </div>
			<LogoSmall class="absolute  left-1/2 -translate-x-1/2 w-[800px] text-neutral-50/20 top-0 -z-10 "/>
		</div>
	</section>

	<!-- <Contact/> -->
	<!-- calculator -->
	<!-- <Calculator class="snap-center"/> -->
	<Footer class="mt-auto snap-center bg-neutral-300"/>
</Layout>
