---
import type { Product } from '../../types/common';
import ImageDynamic from '../ImageDynamic.astro';

interface Props {
    product: Product;
}

const { product } = Astro.props;
const { 'Модель': model, 'Длина, мм': length, 'Высота, мм': height, "Глубина, мм":depth, "Наименование": name   } = product;

let intro="";
switch (model){
    case 'Comfort':
        intro = `это готовый к монтажу в конструкцию пола или иные горизонтальные строительные конструкции (подоконник, дверной проем, подиум и др) отопительный прибор, работающий по принципу естественной конвекции. 
Внутрипольные конвекторы Heaton Comfort  предназначены для создания тепловой завесы перед большими стеклянными поверхностями зданий любого назначения, в качестве основного источника тепла или в сочетании с другими отопительными приборами или теплым полом. Используются в однотрубных или двухтрубных закрытых насосных системах отопления`;
    case 'Comfort Turbo':
        intro = `это готовый к монтажу в конструкцию пола или иные горизонтальные строительные конструкции (подоконник, дверной проем, подиум и др.) отопительный прибор, работающий по принципу принудительной конвекции. предназначены для создания тепловой завесы перед большими стеклянными поверхностями зданий любого назначения, в качестве основного источника тепла или в сочетании с другими отопительными приборами или теплым полом. Используется в однотрубных или двухтрубных закрытых насосных системах отопления. Конвектор Comfort TURBO комплектуется тангенциальными вентиляторами с энергосберегающими EC-двигателями постоянного тока 24 В`;
}
// const baseImageName = `drw_${model}_${length}_${height}`;
// const fullImageName = `drw_${model}_full_${length}_${height}`;
const baseImageName = `drw_${model}_${height}x${depth}`;
const fullImageName = `drw_${model}_full_${depth}`;
---

<div class="md:p-8 bg-neutral-50/40 rounded-3xl">
    <slot/>
    <h2 class="mb-8 mx-8 mt-16 text-xl md:text-4xl pt-12 md:pt-0">Heaton {name} —</h2>
    <p class="text-lg leading-loose tracking-wider mb-8 font-normal mx-8 normal-case">
        {intro}
    </p>
    <div class="flex flex-col lg:flex-row gap-8">
        <div class="p-8 sm:p-8 mix-blend-multiply">
            <h3 class="text-xl uppercase sm:max-w-min  mb-4 ">Схема подключения</h3>
            <ImageDynamic 
            imagePath={`${baseImageName}.webp`} 
            folder="drawings"
            altText={`Чертеж ${model} ${length}x${height}`} 
            class="w-full sm:w-auto max-h-96 sm:h-72 object-contain object-left opacity-60 hover:opacity-100"
        />
        </div>
        <div class="p-8 sm:p-8 mix-blend-multiply">
            <h3 class="text-xl uppercase sm:max-w-min mb-4 ">Габаритные размеры</h3>
            <ImageDynamic 
            imagePath={`${fullImageName}.webp`} 
            folder="drawings"
            altText={`Полный чертеж ${model} ${length}x${height}`} 
            class="lg:-ml-10 h-64 object-contain object-left opacity-60 hover:opacity-100 hover:scale-125 lg:hover:scale-100 transition-transform"
        />
        </div>
    </div>
</div>
<!-- <div class="flex flex-col gap-8">
    <ImageDynamic 
        imagePath={`drawings/${baseImageName}.webp`} 
        altText={`Чертеж ${model} ${length}x${depth}`} 
        class="w-full"
    />
    <ImageDynamic 
        imagePath={`drawings/${fullImageName}.webp`} 
        altText={`Полный чертеж ${model} ${length}x${depth}`} 
        class="w-full"
    />
</div> -->