---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
const {name, subname, shortname, characteristics, url} = Astro.props;
import heater from "../img/heater_main.webp"
import Button from "./Button.astro";
---
<div class="w-full p-8 transition-all border shadow-none border-neutral-50/50 rounded-3xl group/modelcard hover:bg-neutral-50 hover:scale-105 will-change-auto hover:shadow-2xl group/modelCard">
    <div class="relative transition-transform will-change-transform group-hover/modelcard:scale-105 perspective-1000">
        <div class="transition-transform group-hover/modelcard:rotate-y-12 will-change-transform">
            <Image alt=`Изображение радиатора ${name}` src={heater} class=""/>
        </div>
        <span class="absolute bottom-0 text-5xl font-black leading-none transition-transform -right-4 translate-z-12 group-hover/modelcard:rotate-y-12 will-change-transform">{shortname}</span>
    </div>
    <h3 class="flex flex-col justify-end pt-4 text-xl min-h-20">
        {
           subname?
           <span>{subname}</span>:""
        }
        <span class="font-black">{name}</span>
    </h3>
    <ul class="py-2 pb-6 text-md">
    {
        characteristics.map((element:any)  => 

        (
            <li class="flex gap-2 py-1" class:list={[{"text-neutral-700/30":!element.icon}]}>
                <Icon name={element.icon?"Check":"X"} size={20}/>
                <span>{element.name}</span>
            </li>
        )
        )

    }
    </ul>
    <Button class="w-full bg-neutral-50 group-hover/modelCard:bg-secondary" text="Перейти в каталог" link={url} type="download" />
</div>