---
import { Icon } from 'astro-icon/components';

interface ButtonProps {
	text: string;
	icon?: string;
	link?: string;
	type?: 'button' | 'submit' | 'reset' |'download';
	class?: string;
  }
  
  const { text, icon, type = 'button' ,link, class:className} = Astro.props as ButtonProps;
  const isDownload = type === 'download';
//   data-[current=true]:bg-secondary"
---
{
isDownload?
	<a
		href={link}		
		class="px-5 py-2.5 text-sm font-medium text-neutral-700 inline-flex items-center bg-secondary hover:bg-[#ffe09c] focus:ring-1  outline-none focus:outline-[#ffeec9] rounded-full text-center  justify-center"
		class:list={className}
	>
		{icon?<Icon name={icon} width="24"/>:""}
		{text}
	</a>
:
	<button
		type={type}
		class="px-5 py-2.5 text-sm font-medium text-neutral-700 inline-flex items-center bg-secondary hover:bg-[#ffe09c] focus:ring-1  outline-none focus:outline-[#ffeec9] rounded-full text-center justify-center"
		class:list={className}
	>
		{icon?<Icon name={icon} width="24"/>:""}
		{text}
	</button>
}
