---
import Logo from '../svg/logo_big.svg';
import LogoSmall from '../svg/logo_small.svg';
import { Icon } from 'astro-icon/components';
interface FooterProps {
  links: { href: string; text: string }[];
}

const {class:className} = Astro.props;
const logoSrc = 'https://flowbite.com/docs/images/logo.svg';
const logoAlt = 'Heaton Logo';
const brandName = 'Heaton';
const copyrightText = '© 2025';
const copyrightLink = { href: 'https://heaton.ru/', text: 'Heaton' };

const currentURL = new URL(Astro.request.url).pathname;
const mainpage = currentURL==="/";
const mainLinks = [
                    {text:"Продукция",href:`${import.meta.env.BASE_URL}/Стальные панельные радиаторы/Compact (C)/11`},
                    {text:"Документация",href:`${import.meta.env.BASE_URL}/Документация`},
                    {text:"Контакты",href:`${import.meta.env.BASE_URL}/Контакты`},
                  ]
---

<footer class="bg-neutral-50 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] bg-gr-dark" class:list={className}>
  <div class="w-full container-center  min-h-[20svh] mx-auto p-4 md:py-8 text-neutral-500 flex flex-col">
    <div class="pt-16 sm:flex sm:items-center sm:justify-between">
      
        <div class="flex items-center gap-4">
            <a href={`${import.meta.env.BASE_URL}/`} class=`cursor-pointer text-secondary ${mainpage?"pointer-events-none":""}`>
              <Logo class="hidden w-20 md:w-32 lg:w-40 md:block text-primary"/>
              <LogoSmall class="w-16 md:hidden text-primary"/>
            </a>
            <div class="flex flex-col gap-2">
                <div class="flex items-center gap-2 ">
                    <Icon name="Phone call" />
                    <div class="relative text-base font-semibold leading-5 tracking-wider">8 499 645-00-00</div>
                </div>
                <div class="flex items-center gap-2 ">
                    <Icon name="At sign" />
                    <div class="relative text-base font-semibold leading-5 tracking-wider">retail@heaton.ru</div>
                </div>
            </div>
        </div>
        
 
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 ">
        {mainLinks.map((name) => (
          <li>
            <a href={name.href} class="hover:underline me-4 md:me-6">{name.text}</a>
          </li>
        ))}
      </ul>
    </div>
  </div>
  <div class="mt-auto">
    <hr class=" sm:mx-auto border-neutral-300" />
    <span class="block py-8 text-sm sm:text-center text-neutral-400">
      {copyrightText} <a href={copyrightLink.href} class="hover:underline">{copyrightLink.text}</a>
    </span>
  </div>
</footer>
