---
import DynamicImage from './ImageDynamic.astro';
import type { Product } from '../types/common';

interface Props {
    product: Product;
    category: string;
}

const { product, category } = Astro.props;
const URL_main = `${import.meta.env.BASE_URL}/`
const imagePath = `/src/images/products/${product['Изображение']}`;
const imageAlt = `${category} Heaton ${product['Наименование']}`;
const productUrl = `${URL_main}Каталог/${product.url}`;
---

<a href={productUrl} class="block p-4 transition-all bg-neutral-200 rounded-xl hover:bg-neutral-100 hover:scale-105 hover:shadow-lg">
    <div class="aspect-square overflow-hidden rounded-lg mb-4">
        <DynamicImage 
            imagePath={imagePath} 
            altText={imageAlt} 
            model={product['Модель']}
            class="w-full h-full object-contain"
        />
    </div>
    <div class="space-y-2">
        <h3 class="font-bold">{product['Наименование']}</h3>
        <ul class="text-sm text-neutral-600">
            {product['Высота, мм'] && (
                <li>Высота: {product['Высота, мм']} мм</li>
            )}
            {product['Длина, мм'] && (
                <li>Длина: {product['Длина, мм']} мм</li>
            )}
            {product['Теплоотдача, Вт'] && (
                <li>Мощность: {product['Теплоотдача, Вт']} Вт</li>
            )}
        </ul>
    </div>
</a>