---
import pkg from "papaparse";
import Row from "./SmartTable/Row.astro"
const { parse } = pkg;

interface CsvTableProps {
  csvData: string;
}

const { csvData, path_ } = Astro.props;

const parsedData = parse(csvData, {
  header: true,
  dynamicTyping: true,
  skipEmptyLines: true,
}).data as Record<string, any>[];

const headers = parsedData.length > 0 ? Object.keys(parsedData[0]) : [];
---

<div class="px-4 py-4 -mx-4 rounded-2xl bg-neutral-50">
<div class="overflow-x-auto">
  <table class="min-w-full sortable" >
    <thead class="sticky top-0 z-50">
        <Row values={headers} headers={headers} isHeader={true} class="sticky top-0 z-50"/>
    </thead>
    <tbody class="">
      {
        parsedData.map((row) => (
          <Row values={row} headers={headers} id={row["Номенклатурный номер"]} path_={path_}/>
        ))
      }
    </tbody>
  </table>
</div>
</div>

